body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
h1 {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    margin: 0;
    text-align: center;
    width: 100%;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
}
.instructions, .leaderboard {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 20%;
    text-align: center;
}
.header {
    background-color: #333;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.instructions button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.instructions button:hover {
    background-color: #218838;
}
form {
    margin: 20px auto;
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 10vh;
    left: 40vw;
}
input[type="text"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
input[type="submit"]:hover {
    background-color: #444;
}
.correct {
    color: green;
    font-weight: bold;
}
.misplaced {
    color: orange;
    font-weight: bold;
}
#scoreList {
    list-style-type: none;
    padding: 0;
    width: 100%;
}
#scoreList li {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 600px;
    border-radius: 10px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.correct {
    color: green;
}

.misplaced {
    color: yellow;
}